
    <h1>SignalR Chat DEMO</h1>
    <mat-form-field novalidate class="example-full-width" appearance="fill">
        <mat-label>Message</mat-label>
        <input type="text" matInput #message maxlength="4096" [(ngModel)]="text">
        <mat-hint align="end">{{message.value.length}} / 4096</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="isMessageValid" (click)="sendMessage()">Send Message</button>
    <h4>List of Messages</h4>
  
    <div *ngIf="signalRService.messages.length==0">
      <p>You haven't send or received messages</p>
    </div>
    <div *ngFor="let m of signalRService.messages">
      <div>
        <div><strong>ConnectionID</strong> {{1}}</div>
        <div><strong>Date</strong> {{m.activityDate}}</div>
        <div><strong>Message</strong> {{m.messageText}}</div>
        <hr>
      </div>
    </div>